.search-container{
    display: inline-flex;
    align-items: center;
    margin-right: 25px;
    .mat-form-field{


        
        .mat-icon{
            cursor: pointer;
            transition: 0.2s;
            font-size: 20px;
            opacity: 0.5;
            color: gray;
            &:hover{
                opacity: 1;
            }
        }
        .mat-icon,.mat-spinner{
            margin-left: -20px;
        }
    }
    
}


.mat-form-field .mat-form-field-appearance-legacy .mat-form-field-wrapper .mat-form-field-flex{
    align-items: flex-end !important;
}


